.button {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-s) var(--space-l);
  outline: none;
  border: none;
  cursor: pointer;
  background: var(--button-primary-bg);
  color: var(--button-primary-text);

  & .button-loader {
    margin-right: var(--space-xxs);
    color: var(--button-primary-text);
  }

  &:not(.__loading):not(.__disabled):hover {
    background: var(--button-primary-bg-hover);
    color: var(--button-primary-text-hover);
  }

  &.__loading {

  }

  &.__active {
    background: var(--button-primary-bg-active);
    color: var(--button-primary-text-active);
  }

  &.__disabled {
    cursor: default;
    background: var(--button-primary-bg-disabled);
    color: var(--button-primary-text-disabled);
  }
}